spring:
  datasource:
    url: jdbc:mysql://localhost:3306/skillforge
    username: root
    password: 123456789
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
server:
  port: 8081
